# ignore 

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

Debug

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch