# ignore 

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.cproject

Debug

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
STM32f103xx_drivers/.cproject
